  
* {
	margin: 0; padding: 0;
}

a {
	color: blue;
}

body {
	background: url('assets/bg.png') no-repeat fixed center;
	background-size: cover;
	-webkit-background-size: cover;
	height: 100%;
	overflow: hidden
}

p {
	color: green;
}