* {
	margin: 0; padding: 0;
}

a {
	color: blue;
}

body {
	background: url('assets/bg.png') no-repeat fixed center;
	background-size: cover;
	-webkit-background-size: cover;
	height: 100%;
	overflow-x:hidden;
}


p {
	color: green;	
}

.button {
	background-color: black;
	border: none;
	padding: 2px 20px;
	display: inline-block;
 	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	border-radius: 5px;
}

.menuButton {
    position: fixed;
    right: 10px;
    top: 20%;
    padding: 10px;
    background: #ffe;
    border: 1px solid #333;
}

.text {
    height: 1000px;
}